<!DOCTYPE html>
<head>
  <title>Daily Expense Manager</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    td, th, table {border: 0px 1px 0px 0px solid black;}
    td, th {padding: 5px; }
    table { border-collapse: collapse; }
  </style>
</head>
<body>
  <h1>Daily Expense Manager</h1>
  <h2>Category of Income/Expense</h2>
  <table>
    <tr>
      <th>Category Name</th>
      <th></th>
      <th></th>
    </tr>
    {{#categories}}
    <tr>
      <td>{{name}}</td>
      <td><a class="fas fa-edit" href="/updateform/{{rowid}}"></a></td>
      <td><a class="fas fa-trash-alt" href="/delete/{{rowid}}"></a></td>
    </tr>
    {{/category}}
  </table>
  <p><a href="/addcategoryform">Add Category</a>
  {{#addcategory}}
    <form action="/addcategory">
      <label for="name">Category Name</label>
      <input type="text" name="name"> <br />
      <input type="submit">
    </form>
  {{/addcategory}}
  {{#updatecategory}}
    <form action="/updatecategory/{{updateid}}">
      <label for="name">First Name</label>
      <input type="text" value="{{formdata.name}}" name="name"> <br />
      <input type="submit">
    </form>
  {{/updatecategory}}  