{{>header}}

{{>navigation}}
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Category of Income/Expense</h2>
      <table>
        <tr>
          <th>Category Name</th>
          <th></th>
          <th></th>
        </tr>
        {{#categories}}
        <tr>
          <td>{{name}}</td>
          <td><a class="fas fa-edit" href="/categories/updateform/{{rowid}}"></a></td>
          <td><a class="fas fa-trash-alt" href="/categories/delete/{{rowid}}"></a></td>
        </tr>
        {{/categories}}
      </table>
      <p><a href="/addcategoryform">Add Category</a>
      {{#addcategory}}
        <form name="AddCategoryForm" id="AddCategoryForm" class="categoryform" action="categories/addcategory">
          <label for="name">Category Name</label>
          <input type="text" name="name"> <br />
          <input type="submit"/>
        </form>
      {{/addcategory}}
      {{#updatecategory}}
        <form name="EditCategoryForm" id="EditCategoryForm" class="categoryform" action="/categories/updatecategory/{{updateid}}">
          <label for="name">Category Name</label>
          <input type="text" value="{{formdata.name}}" name="name"> <br />
          <input type="submit">
        </form>
      {{/updatecategory}}  
      </div>
  </div>

</div>