{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>History</h2>
      <p>Report of transactions added to this web application</p>
    </div>
  </div>

</div>
