<div class="topnav">
  <a href="/" {{#homenav}}class="curnav"{{/homenav}}>Dashboard</a>
  <a href="/transaction" {{#transactionnav}}class="curnav"{{/transactionnav}}>Transactions</a>
  <a href="/history" {{#historynav}}class="curnav"{{/historynav}}>History</a>
  <a href="/categories" {{#categorynav}}class="curnav"{{/categorynav}}>Categories</a>
</div>
