<nav class="topnav">
  <a href="/" {{#homenav}}class="curnav active"{{/homenav}}>Dashboard</a>
  <a href="/transaction" {{#transactionnav}}class="curnav active"{{/transactionnav}}>Transactions</a>
  <a href="/history" {{#historynav}}class="curnav active"{{/historynav}}>History</a>
  <a href="/categories" {{#categorynav}}class="curnav active"{{/categorynav}}>Categories</a>
</nav>
