{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Add Income/Expense Transaction</h2>
      <div id ="inc-exp" class="transnav">
        <a id="incbtn" href="/addincomeform" {{#incomenav}}class="curnav"{{/incomenav}}>Income</a>
        <a id="expbtn" href="/addexpenseform" {{#expensenav}}class="curnav"{{/expensenav}}>Expense</a>
      </div>
      {{#addtransaction}}
      <form id="add_transaction-form" role="form" action="transaction/addincome">
        <div class="col-lg-1"></div><!-- this div tag is on the left side of from content which helps to right align the form content-->
        <div class="col-lg-11"><!-- this div contains all the contents of form : label and input-->
          <div id="amount_container" class="form-group row"><!-- this div contains label and input of amount-->
            <!--<div class="col-md-1 col-lg-1"></div>-->
            <label  class="col-md-5 col-lg-5 control-label" for="amount">Price</label>
            <div  class="col-md-6 col-lg-6">
              <input id="amount" name="amount" type="text" placeholder="Enter amount here..." class="form-control input-md" required>
            </div>
            <div  id="error-message" class="col-md-1 col-lg-1"><!-- this div is besides the input of amount and it is build to display the error message for wrong input-->
            </div>
          </div>

          <div id="category_container" class="form-group row"><!-- this div contains label and input of category-->
            <label class="col-md-5 col-lg-5 control-label" for="category">Category</label>
            <div class="col-md-6 col-lg-6">
              <select class="form-control" id="category">
              {{#categories}}
                <option value="{{rowid}}">{{name}}</option>
              {{/categories}}
              </select>
            </div>
          </div>

          <div id="date_container" class="form-group row"><!-- this div contains label and input of date-->
            <label  class="col-md-5 col-lg-5 control-label" for="date">Date</label>
            <div  class="col-md-6 col-lg-6">
              <input class="form-control" id="input-date" type="date">
            </div>
          </div>

          <div id="description_container" class="form-group row"><!-- this div contains label and input of description-->
            <label  class="col-md-5 col-lg-5 control-label" for="description">Description</label>
            <div  class="col-md-6 col-lg-6">
              <textarea class="form-control" rows="5" id="description" placeholder="Enter description of the transaction here..."></textarea>
            </div>
          </div>

          <div id="paymentmode_container" class="form-group row"><!-- this div contains label and input of payment mode-->
            <label  class="col-md-5 col-lg-5 control-label" for="payment-mode">Payment Mode</label>
            <div  class="col-md-6 col-lg-6">
              <select class="form-control" id="payment-mode">
                <option>Cash</option>
                <option>Credit</option>
                <option>Debit</option>
                <option>E-transfer</option>
              </select>
            </div>
          </div>

          <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5"><!-- this div is below all the labels-->
          </div>
            <div id="save-reset_btn" class="col-md-6 col-lg-6 col-xs-6 col-sm-6"><!-- this div is below all the inputs-->
              <button id="save" type="button" class="btn btn-info">Save</button>
              <button id="reset" type="reset" class="btn btn-default">Reset</button>
            </div>
          </div>
      </form>
      {{/addtransaction}}
    </div>
  </div>
</div>